OCI_AUTH_MODE=instance_principal
OCI_REGION=eu-madrid-1
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..coloque_aqui
OCI_GENAI_MODEL_ID=meta.llama-3.1-70b-instruct
OCI_API_FORMAT=GENERIC
# Para Cohere use: OCI_API_FORMAT=COHERE
# E defina: OCI_COHERE_SAFETY_MODE=OFF|CONTEXTUAL|STRICT
OCI_COHERE_SAFETY_MODE=OFF
# OPCIONAL: sobrescreve endpoint inferido por regiao
# OCI_GENAI_INFERENCE_ENDPOINT=https://inference.generativeai.eu-madrid-1.oci.oraclecloud.com
# OPCIONAL: apenas para auth_mode=api_key
# OCI_CONFIG_PROFILE=DEFAULT

OCI_TEMPERATURE=0.2
OCI_TOP_P=0.75
OCI_MAX_TOKENS=600
