__pycache__/
*.py[cod]
*.so
*.egg-info/
.Python
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.DS_Store
.terraform/
*.tfstate
*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.auto.tfvars
terraform/.oci-config-temp
ansible/inventory/hosts.ini
