oci_region           = "eu-madrid-1"
oci_config_profile   = "DEFAULT"
compartment_id       = "ocid1.compartment.oc1..example"
availability_domain  = "kIdk:EU-MADRID-1-AD-1"
subnet_id            = "ocid1.subnet.oc1.eu-madrid-1.example"
use_private_subnet_with_nat_sgw = false
private_subnet_cidr = "10.50.20.0/24"
private_subnet_display_name = "subnet-private-leoai"
private_subnet_dns_label = "leoaipvt"
image_id             = "ocid1.image.oc1.eu-madrid-1.example"
instance_shape       = "VM.Standard.E4.Flex"
shape_ocpus          = 1
shape_memory_gbs     = 8
instance_display_name = "leoai-app"
ssh_public_key_path  = "~/.ssh/id_rsa.pub"
ansible_ssh_user     = "opc"
ansible_ssh_private_key_file = "~/.ssh/id_rsa"
assign_public_ip     = true
laptop_ingress_cidr  = "203.0.113.10/32"
leoai_api_port       = 8000

freeform_tags = {
  project = "leoai"
  env     = "dev"
}
